:root{
    --brand1: #6741D9;
    --brand2: #4C3299;

    --gra1: #212529;
    --gray2: #495057;
    --gray3: #ADB5BD;
    --gary4: #E9ECEF;
    --gary5: #212529;
    --gray6: #ffffff;

    --border-default: 2px solid var(--gay4);
    --radius-default: 0.5rem;
}